<!DOCTYPE html>
<HTML>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Aprobacion Tareo</title>
</HEAD>
<BODY style="
margin:10px;
		    font-family: sans-serif;
		    border-style: solid;
        border-width: 1px;
		    border-radius: 5px;
        border-color: #D5DED5;
        box-shadow: 2px 2px 2px #D5DED5;">

				<div style=" background-color:#13A59B; color:#FFFFFF;  padding-top: 1%;      padding-right: 1%;      padding-bottom: 1%;     padding-left:1%; ">
					<p style="text-align:left; position:absolute;">
						<img  height="110px" width="110px" src="https://firebasestorage.googleapis.com/v0/b/hubo-b5d3a.appspot.com/o/logos%2Ftareo.png?alt=media&token=8d311125-8659-4ae9-9bff-09ab827b4671" alt="tareoapp" border="0" align="middle" />
					</p>
					<div>
						<h1 style="font-size: 36px; text-align: right; margin-left:1%; " >Solictud Aprobacion</h1>
						<h2 style="font-size: 24px; text-align: right; margin-left:1%; " >@@usuario <br> @@fecha</h2>
					</div>
				</div>

<div style="text-align: justify-all; font-size: 22px; padding: 5px; margin-right: 2%; margin-left: 5%;" >
	<h3 style="color:#34495e; font-style:  italic; align: center;">@@razonsocial</h3>
	Muy buen dia Usuario Aprobador, el usuario @@usuario esta solicitando la aprobacion de su tareo exportado.<br>
	Por favor desee un tiempo en revisar su tareo y brindarle una respuesta para que pueda proceder a dar por finalizado su tareo del dia.<br>
	<br>

	<div >
		<br>
				<div style="position: unset; " align="right">
					<h2 style="color:#34495e; font-style:  italic; margin: 5px;">SOFTFIELD - PERU S.A.C.</h2>
					<h4 style="color:#e57373; font-style:  italic; margin: 5px;">Software de Gestion de Trabajo</h4>
					<h5 style="color:#e57373; font-style:  italic; margin: 5px;">© 2018&nbsp; Tareo @@tipotareo</h5>
				</div>
	</div>
</div>
</BODY>
</HTML>
